*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1024px;
    margin: 0 auto;
}

.nav_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_search{
    height: 40px;
    border-radius: 5px;
    border: 3px solid rgba(154, 152, 152, 0.32);
    padding: 5px;
    margin: 10px 80px 10px 10px;
    font-weight: bold;
}
.logo{
    height: 50px;
    margin: 10px 10px 10px 80px;
}
.status{
    padding:25px 0 15px 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(43, 43, 44, 0.08);
}
.status_text{
    margin-left: 10px;
    font-family: Arial,sans-serif;
}
.status_text:first-child{
    margin-left: 80px;
    font-family: Arial,sans-serif;
}

.checkbox_style{
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid gray;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 10px;
}
.checkbox_style:checked{
    border: 3px solid blue;
    border-radius: 50%;
    background: blue;
    padding: 2px;
}

.characters_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(43, 43, 44, 0.08);
}


.characters_name{
    background: white;
    padding:15px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.name{
    font-weight: bold;
    font-family: Arial,sans-serif;
}
.single_character{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
}

img{
    width: 200px;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

img:hover{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.new_content{
    display: flex;
    flex-direction: column;
}
.searchInputs {
    display: flex;
    justify-content: space-between;
}
.check {
    margin-left: 10px;
}
.check:nth-of-type(1){
    margin-left: 80px;
}
